<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<center>
<body>
<table id="testTable" border="2" style="background: #FFF; color: #555;">

    <tr>
        <th colspan="5">Trainer Course Details </th>
    </tr>
    <tr>
        <th>Sr no. </th>
        <th> First Name </th>
        <th>  Last Name</th>
        <th> Designation </th>
        <th> Course </th>

    </tr>
    {% for i in output_data %}
    <tr>
        <td> {{i[0]}} </td>
        <td> {{i[1]}} </td>
        <td> {{i[2]}} </td>
        <td> {{i[3]}} </td>
        <td> {{i[4]}} </td>
    </tr>
    {% endfor %}
</table>
</body>
    </center>
</html>